#HomeHeader {
    background-color: rgb(195, 105, 20);
    border: 3px dashed green;
    margin: 25px;
    padding: 25px;
    }
    #HomeHeader2 {
    background-color: rgb(209, 159, 77);
    border: 3px dashed green;
    margin: 25px;
    padding: 25px;
    }